body {
    font-family: sans-serif;
}

h3 {
    text-align: center;
}

.random {
    margin: 50px;
}

.custom-input {
    width: 420px;
    height: 30px;
}

#buttonContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
